services:

  db:
    image: mysql:8.0
    container_name: my_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d:ro

    ports:
      - "3306:3306"

    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -p$$MYSQL_ROOT_PASSWORD --silent"]
      interval: 5s
      timeout: 5s
      retries: 20
 
  api:
    build:
      context: ./api
    container_name: my_api
    restart: unless-stopped

    environment:
      # This is the connection string the API will use
      DATABASE_URL: mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db:3306/${MYSQL_DATABASE}

    depends_on:
      db:
        condition: service_healthy

    ports:
      - "8000:8000"
    
    volumes:
      - uploads_data:/app/uploads
 
volumes:
  db_data:
  uploads_data:

 